<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="SmartLab\FaqTool\Api\Data\FaqSearchResultsInterface"
                type="Magento\Framework\Api\SearchResults" />
    <preference for="SmartLab\FaqTool\Api\Data\BlockInterface" type="Magento\Cms\Model\Block" />
    <preference for="MSmartLab\FaqTool\Api\BlockRepositoryInterface" type="Magento\Cms\Model\BlockRepository" />
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="faqtool_faq_listing_data_source" xsi:type="string">SmartLab\FaqTool\Model\ResourceModel\Faq\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="SmartLab\FaqTool\Model\ResourceModel\Faq\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">faqtool_faq</argument>
            <argument name="eventPrefix" xsi:type="string">faqtool_faq_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">faq_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">SmartLab\FaqTool\Model\ResourceModel\Faq</argument>
        </arguments>
    </type>
    <virtualType name="FaqGridFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="FaqGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">SmartLab\FaqTool\Model\ResourceModel\Faq\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">FaqGridFilterPool</argument>
        </arguments>
    </virtualType>
</config>